@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao sistema de ERP</h1>
    <p>Nosso sistema de ERP oferece diversas funcionalidades para que você possa ter total controle de seu estoque e também do faturamento</p>
    
    <a href="@Url.Action("index","Product")" class="btn btn-primary " tabindex="-1" role="button" >Clique aqui para gerenciar seus produtos</a>

</div>


