obj
WebEstoqueTests/bin/Debug/net6.0/WebEstoqueTests.dll
.vs/ProjectEvaluation/webestoqueefaturamento.metadata.v2
.vs/ProjectEvaluation/webestoqueefaturamento.projects.v2
.vs/WebEstoqueEFaturamento/FileContentIndex/01a7abad-786a-4cd6-83e4-8db27dfd31ca.vsidx
.vs/WebEstoqueEFaturamento/FileContentIndex/12368ae4-078a-4f3e-98f8-fbe5fbf111f2.vsidx
.vs/WebEstoqueEFaturamento/FileContentIndex/a9840f42-ba8a-49e2-985f-a10f90db3e70.vsidx
.vs/WebEstoqueEFaturamento/FileContentIndex/e795a9b1-fe58-46b5-bf6d-067c8acd404e.vsidx
.vs/WebEstoqueEFaturamento/FileContentIndex/merges/b3eb5e92-9a66-4c98-8fe3-5db48da9acf8.vsidx
Web_Estoque_E_Faturamento/Web_Estoque_E_Faturamento.csproj.user
Web_Estoque_E_Faturamento/bin/Debug/net6.0/appsettings.json
Web_Estoque_E_Faturamento/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/NuGet.Common.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/NuGet.Configuration.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/NuGet.Frameworks.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/NuGet.Packaging.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/NuGet.Versioning.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/System.Drawing.Common.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/System.Security.Permissions.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/System.Windows.Extensions.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Web_Estoque_E_Faturamento
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Web_Estoque_E_Faturamento.deps.json
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Web_Estoque_E_Faturamento.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Web_Estoque_E_Faturamento.exe
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Web_Estoque_E_Faturamento.pdb
Web_Estoque_E_Faturamento/bin/Debug/net6.0/Web_Estoque_E_Faturamento.staticwebassets.runtime.json
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win-arm/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
Web_Estoque_E_Faturamento/bin/Debug/net6.0/runtimes/win-arm64/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
Web_Estoque_E_Faturamento/bin/Release/net6.0/appsettings.Development.json
Web_Estoque_E_Faturamento/bin/Release/net6.0/appsettings.json
Web_Estoque_E_Faturamento/bin/Release/net6.0/Web_Estoque_E_Faturamento.deps.json
Web_Estoque_E_Faturamento/bin/Release/net6.0/Web_Estoque_E_Faturamento.dll
Web_Estoque_E_Faturamento/bin/Release/net6.0/Web_Estoque_E_Faturamento.exe
Web_Estoque_E_Faturamento/bin/Release/net6.0/Web_Estoque_E_Faturamento.pdb
Web_Estoque_E_Faturamento/bin/Release/net6.0/Web_Estoque_E_Faturamento.runtimeconfig.json
Web_Estoque_E_Faturamento/bin/Release/net6.0/Web_Estoque_E_Faturamento.staticwebassets.runtime.json
WebEstoqueTests/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
WebEstoqueTests/bin/Debug/net6.0/Humanizer.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
WebEstoqueTests/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
WebEstoqueTests/bin/Debug/net6.0/NuGet.Common.dll
WebEstoqueTests/bin/Debug/net6.0/NuGet.Configuration.dll
WebEstoqueTests/bin/Debug/net6.0/NuGet.Frameworks.dll
WebEstoqueTests/bin/Debug/net6.0/NuGet.Packaging.dll
WebEstoqueTests/bin/Debug/net6.0/NuGet.Versioning.dll
WebEstoqueTests/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
WebEstoqueTests/bin/Debug/net6.0/System.Drawing.Common.dll
WebEstoqueTests/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
WebEstoqueTests/bin/Debug/net6.0/System.Security.Permissions.dll
WebEstoqueTests/bin/Debug/net6.0/System.Windows.Extensions.dll
WebEstoqueTests/bin/Debug/net6.0/Web_Estoque_E_Faturamento.deps.json
WebEstoqueTests/bin/Debug/net6.0/Web_Estoque_E_Faturamento.dll
WebEstoqueTests/bin/Debug/net6.0/Web_Estoque_E_Faturamento.exe
WebEstoqueTests/bin/Debug/net6.0/Web_Estoque_E_Faturamento.pdb
WebEstoqueTests/bin/Debug/net6.0/Web_Estoque_E_Faturamento.staticwebassets.runtime.json
WebEstoqueTests/bin/Debug/net6.0/WebEstoqueTests.deps.json
WebEstoqueTests/bin/Debug/net6.0/WebEstoqueTests.dll
WebEstoqueTests/bin/Debug/net6.0/WebEstoqueTests.pdb
WebEstoqueTests/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
WebEstoqueTests/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
WebEstoqueTests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
WebEstoqueTests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
WebEstoqueTests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
